{erl_opts, [debug_info, warnings_as_errors]}.

{deps, []}.

{dialyzer, [
    {warnings, [unmatched_returns, error_handling, underspecs]},
    {plt_extra_apps, []}
]}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {proper, "1.4.0"}
        ]},
        {extra_src_dirs, ["test"]}
    ]}
]}.

{eunit_opts, [verbose]}.

{project_plugins, []}.
